In [56]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [57]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Fort Nelson,58.8053,-122.7002,9.99,85,20,0.00,CA,2022-11-12 04:58:34
1,1,Chuy,-33.6971,-53.4616,60.03,97,10,6.89,UY,2022-11-12 04:57:53
2,2,Rikitea,-23.1203,-134.9692,74.08,87,99,15.57,PF,2022-11-12 04:58:34
3,3,Cidreira,-30.1811,-50.2056,66.56,93,100,11.59,BR,2022-11-12 04:58:35
4,4,Jamestown,42.0970,-79.2353,56.84,74,100,17.27,US,2022-11-12 04:58:35

In [58]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [59]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [60]:
# Get the maxium temperature.

max_temp = city_data_df['Max Temp']

temps = []

for temp in max_temp:
    
    temps.append(max(temp, 0))

In [61]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat','Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [67]:
# Filter the dataset to find the cities that fit the criteria.
    
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]

preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
12,12,Victoria,22.2855,114.1577,84.18,72,54,4.00,HK,2022-11-12 04:55:31
15,15,Mataram,-8.5833,116.1167,90.41,70,100,4.47,ID,2022-11-12 04:58:38
17,17,Georgetown,5.4112,100.3354,87.73,74,20,3.44,MY,2022-11-12 04:58:38
18,18,Kahului,20.8947,-156.4700,78.82,68,20,18.41,US,2022-11-12 04:53:57
21,21,Cuamba,-14.8031,36.5372,78.98,53,85,3.74,MZ,2022-11-12 04:58:39
27,27,Hithadhoo,-0.6000,73.0833,81.97,72,88,17.34,MV,2022-11-12 04:58:41
35,35,Cayenne,4.9333,-52.3333,75.24,94,100,0.00,GF,2022-11-12 04:58:43
43,43,Koumac,-20.5667,164.2833,76.10,81,89,15.55,NC,2022-11-12 04:58:46
45,45,Alofi,-19.0595,-169.9187,76.89,83,34,6.91,NU,2022-11-12 04:59:46
62,62,Havelock,34.8791,-76.9013,76.98,88,100,23.02,US,2022-11-12 04:55:15

In [68]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [69]:
preferred_cities_df.count()

City_ID       145
City          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
Country       145
Date          145
dtype: int64

In [70]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()

hotel_df['Hotel Name'] = ''

hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
12    Victoria      HK     84.18  22.2855  114.1577
15     Mataram      ID     90.41  -8.5833  116.1167
17  Georgetown      MY     87.73   5.4112  100.3354
18     Kahului      US     78.82  20.8947 -156.4700
21      Cuamba      MZ     78.98 -14.8031   36.5372
27   Hithadhoo      MV     81.97  -0.6000   73.0833
35     Cayenne      GF     75.24   4.9333  -52.3333
43      Koumac      NC     76.10 -20.5667  164.2833
45       Alofi      NU     76.89 -19.0595 -169.9187
62    Havelock      US     76.98  34.8791  -76.9013

In [71]:
# Set parameters to search for a hotel.

params = {"radius": 5000, "type": "lodging", "key": g_key}

In [75]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row['Lat']
    
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    
    params['location'] = f'{lat}, {lng}'
    
    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [78]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [80]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [81]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))